<!-- Modal -->
<div class="modal fade" id="createReminder" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    {{ 'Create reminder: ' }}
                </h4>
            </div>
            <div class="modal-body">
                {{ form_start(reminderForm, {'attr': {'id': 'reminderForm'}}) }}
                {{ form_row(reminderForm.datetime, {'attr': {'class': 'datepicker', 'readonly' : 'readonly'}}) }}
                {{ form_row(reminderForm.md) }}
                {{ form_row(reminderForm.note, {'attr': {'placeholder' : 'Note to self'}}) }}
                <input type="hidden" name="url" id="reminderURL" value='' />
                {{ form_end(reminderForm) }}
                <span id="reminderError" class="text-danger"></span>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
