{% extends 'MainBundle:Default:index.html.twig' %}

{% set appsExportRoute = "exportApps" %}
{% set open = constant('Docs\\CommonBundle\\Entity\\Appointment::STATUS_OPEN') %}
{% set pending = constant('Docs\\CommonBundle\\Entity\\Appointment::STATUS_PENDING') %}
{% set closed = constant('Docs\\CommonBundle\\Entity\\Appointment::STATUS_CLOSED') %}
{% set selectedStatus = app.request.get("appointmentStatus", 0) %}

{% block content %}
    {% embed 'MainBundle:Grid:basicGrid.html.twig' %}
        {% block filters %}
        <!-- Search -->
        <form class="form-inline grid-filter" action="{{ path(app.request.attributes.get('_route')) }}" method="get" id="docsFilter">

            <div class="form-group">
                <label>{{ 'Date From:' }}</label>
                <input class="datepicker form-control" type="text" name="appointmentFrom"
                {% if app.request.get('appointmentFrom') %} value="{{ app.request.get('appointmentFrom') }}" {% endif %}
                >
            </div>

            <div class="form-group">
                <label>{{ 'Date To:' }}</label>
                <input class="datepicker form-control" type="text" name="appointmentTo"
                {% if app.request.get('appointmentTo') %} value="{{ app.request.get('appointmentTo') }}" {% endif %}
                >
            </div>

            <div class="form-group">
                <label>{{ 'Appointment Status:' }}</label>
                    <select name="appointmentStatus" class="form-control">
                        <option value="0" {% if selectedStatus is not defined %} selected {% endif %}>{{ 'All' | trans }}</option>
                        {% for appStatus in appointmentStatuses %}
                            <option value="{{ appStatus.getStatusID }}" {% if selectedStatus == appStatus.getStatusID %} selected {% endif %} }}>
                                {{ appStatus.getName }}
                            </option>
                        {% endfor %}
                    </select>
            </div>

            <div class="pull-right">
                <button class="btn btn-primary" id="filterButton">
                    {{ "Filter" | trans }}
                </button>
                <a href="{{ path(app.request.attributes.get('_route')) }}" class="btn btn-default" id="resetFilterButton">
                    {{ "Reset" | trans }}
                </a>
            </div>

        </form>
        {% endblock %}

        {% block tableData %}
        <table class="table table-striped table-hover">

            <!-- Table Head -->
            <thead>
                <tr>
                    <th>{{ 'Doctor Name' }}</th>
                    <th>{{ 'Patient Name' }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Created' , 'Appointment.created') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Scheduled' , 'Appointment.scheduled') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Status' , 'Appointment.status') }}</th>
                    <th>{{ 'Note' }}</th>
                    <th></th>
                </tr>
            </thead>

            <!-- Table Body -->
            <tbody>
                {% for appointment in appointments %}
                <tr>
                    {% autoescape 'html' %}
                    <td>{{ appointment.user}}</td>
                    <td>{{ appointment.creator }}</td>
                    <td>{{ appointment.created | localizedate('medium', 'medium') }}</td>
                    <td>{{ appointment.scheduled | localizedate('medium', 'medium') }}</td>
                    <td>{{ appointment.status.getName }}</td>
                    <td>{{ appointment.note }}</td>
                    {% endautoescape %}
                    <td>
                        {% if isDoc(app.user.roles) and isPending(appointment.status.getStatusID) %}
                             <span class="larger-icon-container" >
                                 <a href="{{ path("toApprove", {"appointmentID" : appointment.appointmentID}) }}" class="btn btn-xs btn-success" aria-hidden="true">{{ 'Approve' }}</a>
                            </span>
                        {% endif %}
                        {% if not isClosed(appointment.status.getStatusID) %}
                            <span class="larger-icon-container" >
                                <a href="{{ path("toClose", {"appointmentID" : appointment.appointmentID}) }}" class="btn btn-xs btn-danger" aria-hidden="true" >{{ 'Decline' }}</a>
                            </span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
        {% endblock %}

        {% block tableActions %}
            <span class="larger-icon-container">
                {% set exportOptions = app.request.query.all|merge({'export': '1'})  %}
                <a href="{{ path(appsExportRoute, exportOptions) }}" class="glyphicon glyphicon-floppy-save" target="_blank"> {{ 'Export' | trans}}</a>
            </span>
        {% endblock %}

    {% endembed %}

{% endblock %}